body{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    
}

p, h1, h2, h3, a{
    color: #333;
}

a:hover{
    cursor: pointer;
}

nav a{
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease-in-out;

    
}

nav a:hover{
    transform: scale(1.12);

}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    flex-wrap: wrap;
    gap: 1.2rem;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
    font-size: 1.3rem;
    padding: 1.5rem 3rem;
    border: solid;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
    flex-wrap: wrap;
    
}

nav:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
    0 4px 8px rgba(0, 0, 0, 0.15);

}
#logo-link{
    text-decoration: none;
}

#logo-link:hover{
    opacity: 0.6;
}

#btn-contact{
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 2.2rem;
    color: black;
    font-weight: bold;
    font-size: 2.2rem;
    transition: transform 0.2s ease-in-out;
}

#btn-contact:hover{
    transform: scale(1.2);
}

.header-line{
    border: solid 0.7px black;
    width: 80%;
}




/* Main */
main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2rem;
/* flex-wrap: wrap; */

}

#italics-greener{
    border-bottom: solid #7CA563 0.5rem;
}

#hero-header{
    flex-wrap: wrap;
    font-size: 1.8rem;
}

#text-container{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding: 3rem;
    flex-wrap: wrap;
    margin: 2rem;
}

@media (max-width: 1379px) {

    body{
        flex-wrap: wrap;
    }
    #text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
    }

    #home-text{
        margin: 4rem;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
#home-text{
    max-width: 28rem;
    font-size: 1.1em; 
  line-height: 1.6; 
  color: #333;
  margin: 1em auto; 
  padding: 0 10px;

}

#more-home-text{
    
    border-bottom: #7CA563 solid 0.25rem;
    padding: 0.4rem;
    
}

.inline-link{
    text-decoration: none;
}

#icon-container-order{
    font-size: 1.5rem;
}

#more-home-text:hover{
    opacity: 0.6;
}

#illustration-home{
    max-width: 40rem;
    max-height: auto;
    border-radius: 2rem;
}


/* Footer*/
footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
}

li i{
    font-size: 2rem;
   
}

#header-img-logo{
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 4rem;
}

#footer-logo{
    width: 5rem;
    border-radius: 3rem;
}

#social-links{
    display: flex;
    gap: 1.5rem;
}

.social-icon{
    transition: transform 0.2s ease-in-out;
    color: black;
}

.social-icon:hover{
    transform: scale(1.2)
}

/* Sponsors modal */

#modal-sponsors{
    border: none;
    border-radius: 1rem;
}
#dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    max-width: 20rem;
}

#sponsor-list{
    display: flex;
    gap: 1rem;
}

.logo-img{
    width: 8rem;
}

#close-sponsors-modal{
    padding: 0.9rem;
    border: none;
    border-radius: 1rem;
    background-color: #469DFE;
    color: white;
   
}

#close-sponsors-modal:hover{
    opacity: 0.7;
}

#btn-sponsors{
    padding: 0.9rem;
    border: none;
    border-radius: 1rem;
    background-color: #469DFE;
    color: white;
   
}

#btn-sponsors:hover{
    opacity: 0.7;
}





/* About page */
#about-cards{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 50rem;

}

#scroll-down-button{
    border: solid ;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;


}

#scroll-down-button:hover{
cursor: pointer;
  transform: scale(1.08);
}

#main-about{
    gap: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    text-align: center;

    font-size: 1.1em; /* Slightly larger than default for better readability */
  line-height: 1.6; /* Increase line height for easier line scanning */
  color: #333; /* Dark gray for softer contrast */
  
}

#about-content-container{
    display: flex;
    margin: 3rem;
    gap: 4rem;
}

#illustration-about{
    max-width: 35rem;
}
.card{
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 15rem;
    height: 11rem;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #333;
    flex: 1 1 auto; 
}

.card h2{
    margin: 0;
    padding: 0;
}

.card a{
    font-size: 18px;
    opacity: 0.8;
    max-width: fit-content;
    padding: 0.35rem;
    border-radius: 0.3rem;
    transition: transform 0.2s ease-in-out;
}

.card a:hover{
    transform: scale(1.1);
}


#groupImage{
    max-width: 700px;
    margin: 4rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    flex-wrap: wrap;
  
}

.about-modal{
    border: none;
    width: 35rem;
    padding: 2rem;
    border-radius: 1rem;


}

.btn-close-modal{
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: #5091E3;
    color: white;

}

.btn-close-modal:hover{
    opacity: 0.6;
}

.modal-about-text{
font-size: 1.1em; /* Slightly larger than default for better readability */
  line-height: 1.6; /* Increase line height for easier line scanning */
  color: #333; /* Dark gray for softer contrast */
  max-width: 700px; /* Limits line length for readability */
  margin: 1em auto; /* Adds vertical space and centers the text */
  padding: 0 10px; /* Adds a bit of horizontal padding for spacing */
}

.modal-about-heading{
    color: #333;

}

/* Product Page */
#product-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-wrap: wrap;

}

.section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
}

.section p, li{
    font-size: 1.1em; /* Slightly larger than default for better readability */
  line-height: 1.6; /* Increase line height for easier line scanning */
  color: #333; /* Dark gray for softer contrast */
  max-width: 700px; /* Limits line length for readability */
  margin: 0.7em auto;
  padding: 0 10px; /* Adds a bit of horizontal padding for spacing */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 3rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section ul{
    margin: 10px 0;
}

.section {
    margin-bottom: 30px;
}

#group-image-container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;

}
